<!DOCTYPE html>
    <html>
        <head>
    
        
        </head>
            <body>
<div class="jumbotron text-center">
    <div class="container">
        <h1>Share your bike.</h1>
        <h1>Have a passive income.</h1>
        <h1>Rent a bike anytime anywhere.</h1>
        <p>
            <a class="btn btn-primary btn-lg" ng-click="login()">I want to share my bike</a>
            <a class="btn btn-primary btn-lg" ng-click="login()">I want to rent a bike  </a>
        </p>
    </div>
</div>




                
            </body>





    </html>