body {
    background-color: white
}
button {
    color: red
}
.wrapper {
    text-align: center;
}

button {
    margin: auto;
    display: block
}
img {
    height:300px;
    width:400px;
}
h1 {
    color: rebeccapurple;
}
