body {
    background-color: yellow
}
button {
    color: red
}
.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
.button
    {
    height:200px;
    width:200px;
}
