body {
    background-color: white
}
button {
    color: yellow !important
}
.wrapper {
    text-align: center;
}

button {
    margin: auto !important; 
    display: block !important;
}
img {
    height:300px;
    width:400px;
}
h1 {
    color: rebeccapurple;
}
