body {
    background-color: white
}
button {
    color: yellow !important
}
.wrapper {
    text-align: center;
}

button {
    margin: auto !important; 
    display: block !important;
}
img {
    height:300px;
    width:400px;
}
h1 {
    color: rebeccapurple;
    display: none;
    font-family: 'Sedgwick Ave', cursive !important;
}

form {
    display: none;
}
#exampleInputEmail3 {
    background-color: lightyellow
}
#exampleInputPassword3 {
    background-color: lightyellow
}
.checkbox {
    background-color: greenyellow
}